# Base de Datos
DB_HOST=db
DB_USER=usuario_ejemplo
DB_PASS=password_segura_aqui
DB_NAME=tennostore_db
DB_PORT=5432

# Backend
PORT=3000
JWT_SECRET=tu_secreto_jwt_muy_seguro_aqui

# Frontend
VITE_API_URL=http://localhost:3000
